
.videoCard {
  display: flex;
  width: 100%;
  gap: 2rem;
  padding: 0 2rem;
  
  cursor: pointer;

  .thumbnail {
    display: block;
    position: relative;
    width: 360px;
    height: 200px;
    flex-shrink: 0;

    img {
      width: 100%;

      border-radius: 15px;
    }

    .videoLength {
      position: absolute;
      bottom: 0.5rem;
      right: 0.5rem;
      padding: 0.5rem;

      font-size: 1.5rem;
      font-weight: 500;
      color: #fff;
      background: rgba(0, 0, 0, 0.8);
      border-radius: 5px;
    }
  }

  .videoMeta {

    .title {
      display: block;
      font-size: 2.2rem;
      font-weight: 400;
      line-height: 3.2rem;
      color: #f1f1f1;

      margin-bottom: 0.5rem;
    }
  
    .viewsAndDate {
      display: block;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 2.2rem;
      color: #aaa;

      margin-bottom: 1rem;
    }

    .channel {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 2rem;

      .channelAvatar {
        display: block;
        width: 4rem;
        height: 4rem;

        img {
          width: 100%;

          border-radius: 50%;
        }
      }
      
      .channelTitle {
        display: block;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2.2rem;
        color: #aaa;
      }
    }

    .description {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 2.2rem;
      color: #aaa;
      word-break: break-all;
    }
  }
}

@media (max-width: 600px) {
  .videoCard {
    flex-direction: column;
    padding: 0;
    gap: 1rem;

    .thumbnail {
      width: 100%;
      height: auto;
  
      img {
        border-radius: 0;
      }
    }

    .videoMeta {
      padding: 0 2rem;
    }
  }
}