@import '../../styles/variables.scss';

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  
  background: $dark700;
  box-shadow: 4px -4px 3px rgba(0, 0, 0, 0.5);

  .top {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    .logo {
      width: 194px;
      height: auto;
      margin-right: 1rem;
    }

    .author {
      font-size: 4rem;
      font-weight: 600;
      color: #f1f1f1;
      
      a {
        margin-left: 1rem;
        
        text-decoration: underline;
        transition: color 0.1s ease-in-out;

        &:hover {
          color: #aaa;
        }
      }
    }
  }

  .bottom {

    .repository {
      font-size: 4rem;
      font-weight: 600;
      color: #f1f1f1;
      text-decoration: underline;
      transition: color 0.1s ease-in-out;
  
      &:hover {
        color: #aaa;
      }
    }
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 2rem;

    .top {
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 1rem;

      .logo {
        width: 130px;
        margin-right: 1rem;
      }

      .author {
        font-size: 3rem;

        a {
          margin-left: 0.5rem;
        }
      }
    }

    .bottom {
      .repository {
        font-size: 3rem;
      }
    }
  }
}